{% extends 'base.html.twig' %}

{% block body %}
	{% block content %}
		<div class="container">
			<div class="row">
		        <div class="col-md-8 col-md-offset-2">
		            <div class="panel panel-default">
		                <div class="panel-heading">Atualizar Usu&aacute;rio</div>
		                <div class="panel-body">
		                	{{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
		                		{{ form_errors(form) }}

		                		<div class="form-group">
		                			{{ form_label(form.name, 'Nome*', { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
		                			<div class="col-md-6">
		                				{{ form_errors(form.name) }}
	        							{{ form_widget(form.name, { 'attr': {'class': 'form-control'}}) }}
			                		</div>
		                		</div>

		                		<div class="form-group">
		                			{{ form_label(form.descricao, 'Descricao*', { 'label_attr': {'class': 'col-md-4 control-label'}}) }}
		                			<div class="col-md-6">
	        							{{ form_errors(form.descricao) }}
			                			{{ form_widget(form.descricao, { 'attr': {'class': 'form-control'}}) }}
			                		</div>
		                		</div>

		                		<div class="form-group">
		                			{{ form_label(form.situacao, 'Situacao', { 'label_attr': {'class': 'col-md-4 control-label'}}) }}
		                			<div class="col-md-6">
	        							{{ form_errors(form.situacao) }}
			                			{{ form_widget(form.situacao, { 'attr': {'class': 'form-control'}}) }}
			                		</div>
		                		</div>

		                		<div class="form-group">
		                			{{ form_label(form.status, 'Status', { 'label_attr': {'class': 'col-md-4 control-label'}}) }}
		                			<div class="col-md-6">
	        							{{ form_errors(form.status) }}
			                			{{ form_widget(form.status, { 'attr': {'class': 'form-control'}}) }}
			                		</div>
		                		</div>

		                		<div class="form-group">
		                			{{ form_label(form.data_inicio, 'Data Inicio*', { 'label_attr': {'class': 'col-md-4 control-label'}}) }}
		                			<div class="col-md-6">
	        							{{ form_errors(form.data_inicio) }}
			                			{{ form_widget(form.data_inicio, { 'attr': {'class': 'form-control'}}) }}
			                		</div>
		                		</div>

		                		<div class="form-group">
		                			{{ form_label(form.data_fim, 'Data Fim', { 'label_attr': {'class': 'col-md-4 control-label'}}) }}
		                			<div class="col-md-6">
	        							{{ form_errors(form.data_fim) }}
			                			{{ form_widget(form.data_fim, { 'attr': {'class': 'form-control'}}) }}
			                		</div>
		                		</div>

		                		<div class="form-group">
			                		<div class="col-md-10 col-md-offset-4">
			                			{{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary'}}) }}
			                		</div>
		                		</div>
							{{ form_end(form) }}
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	{% endblock %}
{% endblock %}
